.product-list{
    display: flex;
    color:blue;
    flex-direction:column;
    margin:0 40px 40px;
    padding-top: 90px;
    align-items: center;
}


html, body, #root {
  height: 100%;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
}
